@page "/"
@using kiki.shared
@inject HttpClient Http

@if (posts == null) {
    <p><em>loading</em></p>
} else {
    <div class="accordion">
        @foreach (var post in posts) {
            <PostCard Post="@post"></PostCard>
        }
    </div>
}

@code {
    Post[] posts;

    protected override async Task OnInitializedAsync() {
        posts = await Http.GetJsonAsync<Post[]>("/api/kiki/posts");
    }
}
